.Header {
  margin-bottom: 15px;
  margin-top: 20px;
}

.nameWrapper {
  font-family: "rust-script";
  font-size: 3.2rem;
  line-height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header .cvtext {
  font-family: "rust-script";
}
